@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Düzenle</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <th>@item.BlogID</th>
    <td>@item.BlogTitle</td>
    <td>@(((DateTime)item.CreateDate).ToString("dd-MMM-yyyy"))</td>
    <td>@item.Category.CategoryName</td>
    @*<td>@item.BlogStatus</td>*@

    @if (item.BlogStatus == true)
    {
        <td> <span class="badge badge-success" style="width:6em;height:3em;">Aktif</span></td>
    }
    else
    {
        <td> <span class="badge badge-danger">Pasif</span></td>
    }


    <td><a href="#" class="btn btn-danger">Sil</a></td>
    <td><a href="#" class="btn btn-warning">Düzenle</a></td>
</tr>
    }
</table>
<a href="#" class="btn btn-primary">Yeni Blog Oluştur</a>